@import "couleur.scss";

/* bouton principal*/

.bouton_principal{
    height: 50px ;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient($secondaire,$primaire) ;
    border:0px;
    color: #fff;
    font-size: 19px;
    margin-top: 10px;

}


/*bout secondaire*/

#bouton_fonctionnement{

    width: 100%;
    height: 365px;
    display: flex;
    flex-direction: column;

    h2{
        margin-left: 30px;
    }

    .bouton_secondaire{
    width: 279px;
    height: 62px;
    font-weight: bolder;
    text-align: center;
    font-size: 15px;
    padding-left: 36px;
    border-radius: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border: 0px;
    box-shadow: 0px 2px 10px grey;
       
    }


    .numero_1{
        position: absolute;
        top: 485px;
        left: 9px;
        text-align: center;
        background-color: $primaire;
        border-radius: 360px;
        width: 20px;
        height: 20px;
        color: #fff;
        padding: 4px;
    }


    .numero_2{
        position: absolute;
        top: 562px;
        left: 9px;
        text-align: center;
        background-color: $primaire;
        border-radius: 360px;
        width: 20px;
        height: 20px;
        color: #fff;
        padding: 4px;
    }



    .numero_3{
        position: absolute;
        top: 641px;
        left: 9px;
        text-align: center;
        background-color: $primaire;
        border-radius: 360px;
        width: 20px;
        height: 20px;
        color: #fff;
        padding: 4px;
    }

    #icone_mobil{
        position: absolute;
        top:506px;
        left: 57px;
        color: grey;
    }

    #icone_liste{
        position: absolute;
        top:582px;
        left: 57px;
        color: grey;
    }

    #icone_shop{
        position: absolute;
        top:660px;
        left: 57px;
        color: grey;
    }

    i:hover{
        color: $primaire;
    }
}

.bouton_secondaire:hover
    {
        background-color: #f5edff;
    }



   