@import "couleur.scss";

/* bouton principal*/

.bouton_principal{
    height: 50px ;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient($secondaire,$primaire) ;
    border:0px;
    color: #fff;
    font-size: 19px;
    margin-top: 10px;

}



   /* bouton commander */

   .bouton_commander{
    height: 50px ;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient($secondaire,$primaire) ;
    border:0px;
    color: #fff;
    font-size: 19px;
    margin-top: 30px;
    margin-left: 50%;
    transform: translate(-50% ) ;
    width:49%;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.637);
}

.bouton_commander:hover{
    opacity: 0.9;
    box-shadow: 1px 3px 4px black;
}

@media screen and (min-width:$tablet_min) and (max-width:$tablet_max)  {

    .bouton_commander{
        height: 50px ;
        text-align: center;
        border-radius: 20px;
        background: linear-gradient($secondaire,$primaire) ;
        border:0px;
        color: #fff;
        font-size: 19px;
        margin-top: 30px;
        margin-left: 50%;
        transform: translate(-50% ) ;
        width: 190%;
    }
    


}

@media screen and (min-width:$destop_min) and (max-width:$tv_max)  {
    .bouton_commander{
        height: 50px ;
        text-align: center;
        border-radius: 20px;
        background: linear-gradient($secondaire,$primaire) ;
        border:0px;
        color: #fff;
        font-size: 19px;
        margin-top: 81px;
        margin-left: 50%;
        transform: translate(-50% ) ;
        width: 34%;
    }

}

