@import "couleur.scss";
@import "responsive.scss";

#menu{
    display: flex;
    justify-content: flex-start;
    margin-top: -50px;
    border-radius: 30px 30px 0 0;
    background-color: #F6F6F6;
    position: relative;
    height: 1127px;
    flex-direction: column;

    #entre{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #plat{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #dessert{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    h2{
        padding-left: 20px;
    }

    .bloc_menu{
        display: flex;
        justify-content: space-between;
        width:95%;
        height: 68px;
        background-color: #fff;
        box-shadow: 1px 2px 3px grey;
        // margin-left: auto;
        // margin-right: auto;
        // margin-bottom: 15px;
        margin: 0 auto 15px auto;
        border-radius: 20px;
        opacity: 0;
        cursor: pointer;

        
        &:hover .valide {
            visibility: visible;
            animation: valide both 0.3s;
            background-color: $tertiaire;
            border-radius: 0px 20px 20px 0px; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $tertiaire;
            border-radius: 0px 20px 20px 0px;
            // animation-fill-mode: both;
        } 

        &:hover i.far.fa-check-circle{
            animation: turn both 0.3s;
        }
    }

    .delai1{
        animation: progresif ;
        transition-duration:0.2s ;
        animation-delay: 1s;
        animation-duration: 3s; 
        animation-fill-mode: both;
      
    }

    .delai2{
        animation: progresif  ;
        transition-duration:0.2s ;
        animation-duration: 3s; 
        animation-delay: 2s;
        animation-fill-mode: both;

        

    }

    .delai3{
        animation: progresif;
        transition-duration:0.2s ;
        animation-duration: 3s;
        animation-delay: 3s;
        animation-fill-mode: both;

       
        
        

    }
    .delai4{
        animation: progresif;
        transition-duration:0.2s ;
        animation-duration: 3s;
        animation-fill-mode: both;
    }

    

    h3{
        
        padding-left: 13px;
        margin-bottom: 0px;
        font-size: 16px;
        height: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    p{
        padding-left: 13px;
        margin-top: 5px;
        font-size: 12px;
         
    }

    .titre_menu{
        
        text-decoration: 3px underline  $tertiaire ;
        margin-left: 0px;
    }

    
  .prix{
   
        display: flex;
        width: 16%;
        padding: 0px 5px;
        margin-right: 1%;
        font-weight: bold;
        margin-top: 26px;
        flex-direction: row;
        align-items: center;
    

  }
   
  .valide{
    visibility: hidden;
    
  }

  
   .text{
       display: flex;
       flex-direction: column;
       justify-content: center;
       width: 80%;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;

       p{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
       }
   }


   
   

}


i.far.fa-check-circle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

.bloc_menu:hover .prix  {
    animation: valide ease 1s;
    animation-fill-mode: both;
    
}




@keyframes valide {
    0% {
    //   transform: translate(-50px, 0);
        width: 0px;
    }
  
   
  
    100% {
    //   transform: translate(-1px, 0);
        width: 15%;
    }
    }
  

    
@keyframes turn {
    0% {
        
        transform: rotate(360deg);
        
    }
    }


@keyframes progresif {
    0%{
        
        opacity: 0;
        
         
        
    }
    100%{
        opacity: 1;
    }
}

 @media screen and (min-width:$tablet_min) and (max-width:$tablet_max)  {
    

    #menu {
        display: flex;
        margin-top: -50px;
        border-radius: 30px 30px 0 0;
        background-color: #F6F6F6;
        position: relative;
        height: 1127px;
        flex-direction: column;
        align-items: center;

        #entre{
        display: flex;
        flex-direction: column;
        width: 80%;
        align-content: center;
        }

         #plat {
            display: flex;
            flex-direction: column;
            width: 80%;
            align-content: center;
        }

        #dessert {
            display: flex;
            flex-direction: column;
            width: 80%;
            align-content: center;
        }

        
        .titre_menu{
        
            text-decoration: 3px underline  $tertiaire ;
            margin-left: 0px;
        }
    }

    
}

 @media screen and (min-width:$destop_min) and (max-width:$tv_max)  {


    #bloc_page {
        height: 1136px;
    }

    #menu{

        height: 900px;

        .box_row{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            
        }

        .bloc_menu{
            margin: 11px 20px 0 20px;
            max-width: 30%;
        }

        .box_menu{
            margin-bottom: 30px;
        }

        h2 {
            padding-left: 24px;
            font-size: 30px;
        }

        .titre_menu {
            text-decoration: 3px underline #99e2d0;
            margin-left: 5px;
            font-size: 20px;
        }
    }

    @keyframes valide {
        0% {
        //    transform: translate(-50px, 0);
            width: 0px;
        }
      
        
      
        100% {
        //   transform: translate(-1px, 0);
            width: 15%;
        }
        }
 }
 
 

