@import "couleur.scss";



#menu{
    position: absolute;
    top: 288px;
    width: 100%;
    height:1139px ;
    background-color: #f6f6f6;
    border-radius: 28px 28px 0px 0px;
    
    #entre{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #plat{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #dessert{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    h2{
        padding-left: 20px;
    }

    .bloc_menu{
        display: flex;
        width: 285px;
        height: 68px;
        background-color: #fff;
        box-shadow: 1px 2px 3px grey;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        border-radius: 20px;
        opacity: 0;
        
    }

    .anim1{
        animation: progresif ;
        transition-duration:0.2s ;
        animation-delay: 1s;
        animation-duration: 3s; 
        animation-fill-mode: both;
      
    }

    .anim2{
        animation: progresif  ;
        transition-duration:0.2s ;
        animation-duration: 3s; 
        animation-delay: 2s;
        animation-fill-mode: both;

        

    }

    .anim3{
        animation: progresif;
        transition-duration:0.2s ;
        animation-duration: 3s;
        animation-delay: 3s;
        animation-fill-mode: both;

       
        
        

    }
    .anim4{
        animation: progresif;
        transition-duration:0.2s ;
        animation-duration: 3s;
        animation-fill-mode: both;
    }

    

    h3{
        padding-left: 13px;
        margin-bottom: 0px;
        font-size: 16px;
        height: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        text-overflow: "...";

    }

    p{
        padding-left: 13px;
        margin-top: 5px;
        font-size: 12px;
         
    }

    

    .titre_menu{
        
        text-decoration: 3px underline  $tertiaire ;
    }

    
  
   
    
    
   .prix{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 97px;
   }


   .acompagnement{
       
       height: 20px;
        font-weight: 200;
        font-size: 14px;
        margin: 0;
        white-space: wrap;
        text-overflow: ellipsis;
        overflow: hidden;
        
        
        
    }


   .valide{
       display: flex;
       flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin-right: auto;
        opacity: 0;
         
   }

   .valide:hover{
       opacity: 1;
       padding-left: 20px;
       background-color: $tertiaire;
       border-radius: 0px 20px 20px 0px;
       cursor: pointer;
       
   }
}









@keyframes progresif {
    0%{
        
        opacity: 0;
        
         
        
    }
    100%{
        opacity: 1;
    }
}

