
/* General */



body
{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin:0px;

    .titre{
        font-family: 'Shrikhand', cursive;
    }

    
}

#bloc_page{
    height: 1365px;
}

a{
    text-decoration: none;
     color: black;
     cursor: pointer;
}