@import "couleur.scss";

/* restaurants */

#bloc_restaurant{
    width: 100%;
    height: 1183px;
    background-color: #f6f6f6;


    h2{
        padding-top: 27px;
        padding-left: 17px;
    }

    .bloc_image{
        width: 271px ;
        height:250px ;
        
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border-radius: 15px;
        box-shadow: 1px 2px 12px grey;
    }

    .image{
        width: 271px;
        height: 176px;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
    }

    h3{
        padding-left: 10px;
        margin-top: 3px;
        margin-bottom: 0px;
    }

    p{
        padding-left: 10px;
        margin-top: 3px;
    }

    .coeur{
        float: right;
        margin-right: 10px;
        font-size: 20px;
    }

    .coeur_remplie{
        float: right;
        margin-right: -20px;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
    }

    .coeur_remplie:hover{
        font-size: 20px;
        animation-name: remplir_coeur;
        animation-duration: 3s;
        color: $secondaire;
    }

    .nouveau{
        align-self: flex-start;
    margin-left: -99px;
    margin-top: 20px;
    color: #39a98d;
    font-weight: bold;
    background-color :$tertiaire;
    padding: 6px 13px;
    border-radius: 2px;
    }

    .image_restaurant{
        display: flex;
        
    }

    .nouveau_2{
        position: absolute;
        top:1157px;
        left: 194px;
        width: 81px;
        height: 28px;
        background-color: $tertiaire;
        border-radius: 2px;
        color: #008766;

    }
}





/* Annimation coeur */

@keyframes remplir_coeur {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}









