/* Header */
header {
  width: 100%;
  height: 63px;
  background-color: #fff;
  box-shadow: 0px 1px 3px #919090;
}
header .logo {
  position: absolute;
  width: 160px;
  height: 33px;
  margin-left: 80px;
  margin-top: 16px;
}
header .retour {
  position: absolute;
  left: 22px;
  top: 20px;
}
header i {
  font-size: 23px;
}
header a {
  color: black;
}

/* General */
body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  margin: 0px;
}
body .titre {
  font-family: "Shrikhand", cursive;
}

#bloc_page {
  height: 1365px;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.principal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 7px;
  margin-bottom: auto;
}

/* Partie localisation */
#localisation {
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
}
#localisation p {
  font-weight: bolder;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 16px;
}
#localisation i {
  padding-right: 2px;
}

/* presentation */
#presentation {
  width: 100%;
  height: 287px;
  background-color: #f6f6f6;
  text-align: center;
}
#presentation h2 {
  font-size: 27px;
  margin-top: 0px;
  padding-top: 44px;
}
#presentation p {
  font-size: 17px;
}

/* bouton principal*/
.bouton_principal {
  height: 50px;
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(#ff79da, #9356dc);
  border: 0px;
  color: #fff;
  font-size: 19px;
  margin-top: 10px;
}
.bouton_principal:hover {
  opacity: 0.9;
  box-shadow: 1px 3px 4px black;
}

/* bouton commander */
.bouton_commander {
  height: 50px;
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(#ff79da, #9356dc);
  border: 0px;
  color: #fff;
  font-size: 19px;
  margin-top: 30px;
  margin-left: 50%;
  transform: translate(-50%);
  width: 49%;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.637);
}

.bouton_commander:hover {
  opacity: 0.9;
  box-shadow: 1px 3px 4px black;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .bouton_commander {
    height: 50px;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(#ff79da, #9356dc);
    border: 0px;
    color: #fff;
    font-size: 19px;
    margin-top: 30px;
    margin-left: 50%;
    transform: translate(-50%);
    width: 190%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 2560px) {
  .bouton_commander {
    height: 50px;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(#ff79da, #9356dc);
    border: 0px;
    color: #fff;
    font-size: 19px;
    margin-top: 81px;
    margin-left: 50%;
    transform: translate(-50%);
    width: 34%;
  }
}
/* restaurants */
#bloc_restaurant {
  height: 1183px;
  background-color: #f6f6f6;
}
#bloc_restaurant h2 {
  padding-top: 27px;
  padding-left: 17px;
}
#bloc_restaurant .bloc_image {
  height: 250px;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 1px 2px 12px grey;
}
#bloc_restaurant .image {
  width: 100%;
  height: 176px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
#bloc_restaurant h3 {
  padding-left: 10px;
  margin-top: 3px;
  margin-bottom: 0px;
}
#bloc_restaurant p {
  padding-left: 10px;
  margin-top: 3px;
}
#bloc_restaurant .coeur {
  float: right;
  margin-right: 10px;
  font-size: 20px;
}
#bloc_restaurant .coeur_remplie {
  float: right;
  margin-right: -20px;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}
#bloc_restaurant .coeur_remplie:hover {
  font-size: 20px;
  animation-name: remplir_coeur;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  color: #ff79da;
}
#bloc_restaurant .nouveau {
  align-self: flex-start;
  margin-left: -99px;
  margin-top: 20px;
  color: #39a98d;
  font-weight: bold;
  background-color: #99e2d0;
  padding: 6px 13px;
  border-radius: 2px;
}
#bloc_restaurant .image_restaurant {
  display: flex;
}
#bloc_restaurant .nouveau_2 {
  position: absolute;
  top: 1157px;
  left: 194px;
  width: 81px;
  height: 28px;
  background-color: #99e2d0;
  border-radius: 2px;
  color: #008766;
}
#bloc_restaurant .box_restaurant {
  width: 69%;
  margin-left: auto;
  margin-right: auto;
}

/* Annimation coeur */
@keyframes remplir_coeur {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 768px) and (max-width: 2560px) {
  #bloc_restaurant .box_restaurant {
    width: 100%;
    display: flex;
  }
  #bloc_restaurant .box_restaurant .bloc_image {
    width: 90%;
  }

  a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    width: 25%;
    display: flex;
    justify-content: center;
  }

  #bloc_restaurant {
    height: 500px;
    background-color: #f6f6f6;
  }
}
footer {
  margin-top: auto;
  width: 100%;
  height: 198px;
  background-color: #353535;
}
footer ul {
  color: #fff;
  list-style: none;
}
footer li {
  margin-top: 5px;
}
footer .logo_footer {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  color: white;
  padding-top: 30px;
  padding-left: 30px;
}
footer #utensils {
  margin-right: 10px;
}
footer #main {
  margin-right: 4px;
}
footer .contacte {
  color: white;
  display: flex;
  justify-content: flex-start;
}
footer .contacte:hover {
  color: #9356dc;
}

.bloc_chargement {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ff79da, #9356dc);
  z-index: 999;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
  animation: fin 3s linear;
}
.bloc_chargement .chargement {
  width: 120px;
  height: 120px;
  border: 16px solid #99e2d0;
  border-top: 16px solid #9356dc;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: chargement 1s linear;
  transition-duration: 0.5s;
}

.fin {
  animation: fin 3s ease-out both;
}

@keyframes chargement {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes fin {
  100% {
    opacity: 0;
    z-index: -3;
  }
}
#bloc_fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#bloc_fonctionnement .numero {
  background-color: #9356DC;
  border-radius: 20px;
  color: white;
  text-align: center;
  padding: 5px 10px;
  margin-left: -65px;
  margin-right: 20px;
}
#bloc_fonctionnement #choix_restaurant {
  padding: 17px 50px;
  border-radius: 19px;
  background-color: #f6f6f6;
  box-shadow: 0px 3px 8px #cfcfcf;
  margin-bottom: 15px;
  margin-left: 15px;
}
#bloc_fonctionnement #choix_restaurant:hover {
  background: #f5edff;
}
#bloc_fonctionnement #choix_menu {
  padding: 17px 50px;
  border-radius: 19px;
  background-color: #f6f6f6;
  box-shadow: 0px 3px 8px #cfcfcf;
  margin-bottom: 15px;
  margin-left: 15px;
}
#bloc_fonctionnement #choix_menu:hover {
  background: #f5edff;
}
#bloc_fonctionnement #deguste {
  padding: 17px 50px;
  border-radius: 19px;
  background-color: #f6f6f6;
  box-shadow: 0px 3px 8px #cfcfcf;
  margin-bottom: 15px;
  margin-left: 15px;
}
#bloc_fonctionnement #deguste:hover {
  background: #f5edff;
}
#bloc_fonctionnement #icone_mobil {
  color: #9356dc;
}
#bloc_fonctionnement #icone_shop {
  margin-right: 3px;
  color: #9356dc;
}
#bloc_fonctionnement #icone_liste {
  margin-right: 15px;
  color: #9356dc;
}

/* bouton fonctionnement */
.bouton_fontionnement {
  border: none;
  background-color: #f6f6f600;
  font-weight: bold;
}

@media screen and (min-width: 768px) and (max-width: 2560px) {
  .box_fonctionnement {
    display: flex;
    flex-direction: row;
    width: 75%;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .box_fonctionnement #choix_restaurant {
    padding: 17px 50px;
    border-radius: 19px;
    background-color: #f6f6f6;
    box-shadow: 0px 3px 8px #cfcfcf;
    margin-bottom: 15px;
    margin-left: 24px;
    margin-right: 10px;
  }
  .box_fonctionnement #choix_menu {
    padding: 17px 50px;
    border-radius: 19px;
    background-color: #f6f6f6;
    box-shadow: 0px 3px 8px #cfcfcf;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 10px;
  }
  .box_fonctionnement #deguste {
    padding: 17px 50px;
    border-radius: 19px;
    background-color: #f6f6f6;
    box-shadow: 0px 3px 8px #cfcfcf;
    margin-bottom: 15px;
    margin-left: 19px;
  }

  #bloc_fonctionnement #icone_liste {
    margin-right: 0px;
  }

  #bloc_fonctionnement #icone_shop {
    margin-right: -1px;
  }

  #bloc_fonctionnement .numero {
    background-color: #9356DC;
    border-radius: 20px;
    color: white;
    text-align: center;
    padding: 0px 4px;
    margin-left: -65px;
    margin-right: 0px;
  }

  #choix_restaurant {
    width: 60%;
  }

  #choix_menu {
    width: 60%;
  }

  #deguste {
    width: 60%;
  }
}

/*# sourceMappingURL=style.css.map */
