/* Header */
header {
  width: 100%;
  height: 63px;
  background-color: #fff;
  box-shadow: 0px 1px 3px #919090;
}
header .logo {
  position: absolute;
  width: 160px;
  height: 33px;
  margin-left: 80px;
  margin-top: 16px;
}
header .retour {
  position: absolute;
  left: 22px;
  top: 20px;
}
header i {
  font-size: 23px;
}
header a {
  color: black;
}

/* General */
body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  margin: 0px;
}
body .titre {
  font-family: "Shrikhand", cursive;
}

#bloc_page {
  height: 1365px;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.principal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 7px;
  margin-bottom: auto;
}

footer {
  margin-top: auto;
  width: 100%;
  height: 198px;
  background-color: #353535;
}
footer ul {
  color: #fff;
  list-style: none;
}
footer li {
  margin-top: 5px;
}
footer .logo_footer {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  color: white;
  padding-top: 30px;
  padding-left: 30px;
}
footer #utensils {
  margin-right: 10px;
}
footer #main {
  margin-right: 4px;
}
footer .contacte {
  color: white;
  display: flex;
  justify-content: flex-start;
}
footer .contacte:hover {
  color: #9356dc;
}

.image_menu {
  width: 100%;
  height: 283px;
  object-fit: cover;
}

#menu {
  display: flex;
  justify-content: flex-start;
  margin-top: -50px;
  border-radius: 30px 30px 0 0;
  background-color: #F6F6F6;
  position: relative;
  height: 1127px;
  flex-direction: column;
}
#menu #entre {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#menu #plat {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#menu #dessert {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#menu h2 {
  padding-left: 20px;
}
#menu .bloc_menu {
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 68px;
  background-color: #fff;
  box-shadow: 1px 2px 3px grey;
  margin: 0 auto 15px auto;
  border-radius: 20px;
  opacity: 0;
  cursor: pointer;
}
#menu .bloc_menu:hover .valide {
  visibility: visible;
  animation: valide both 0.3s;
  background-color: #99e2d0;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #99e2d0;
  border-radius: 0px 20px 20px 0px;
}
#menu .bloc_menu:hover i.far.fa-check-circle {
  animation: turn both 0.3s;
}
#menu .delai1 {
  animation: progresif;
  transition-duration: 0.2s;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-fill-mode: both;
}
#menu .delai2 {
  animation: progresif;
  transition-duration: 0.2s;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: both;
}
#menu .delai3 {
  animation: progresif;
  transition-duration: 0.2s;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: both;
}
#menu .delai4 {
  animation: progresif;
  transition-duration: 0.2s;
  animation-duration: 3s;
  animation-fill-mode: both;
}
#menu h3 {
  padding-left: 13px;
  margin-bottom: 0px;
  font-size: 16px;
  height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#menu p {
  padding-left: 13px;
  margin-top: 5px;
  font-size: 12px;
}
#menu .titre_menu {
  text-decoration: 3px underline #99e2d0;
  margin-left: 0px;
}
#menu .prix {
  display: flex;
  width: 16%;
  padding: 0px 5px;
  margin-right: 1%;
  font-weight: bold;
  margin-top: 26px;
  flex-direction: row;
  align-items: center;
}
#menu .valide {
  visibility: hidden;
}
#menu .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#menu .text p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

i.far.fa-check-circle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}

.bloc_menu:hover .prix {
  animation: valide ease 1s;
  animation-fill-mode: both;
}

@keyframes valide {
  0% {
    width: 0px;
  }
  100% {
    width: 15%;
  }
}
@keyframes turn {
  0% {
    transform: rotate(360deg);
  }
}
@keyframes progresif {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #menu {
    display: flex;
    margin-top: -50px;
    border-radius: 30px 30px 0 0;
    background-color: #F6F6F6;
    position: relative;
    height: 1127px;
    flex-direction: column;
    align-items: center;
  }
  #menu #entre {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-content: center;
  }
  #menu #plat {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-content: center;
  }
  #menu #dessert {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-content: center;
  }
  #menu .titre_menu {
    text-decoration: 3px underline #99e2d0;
    margin-left: 0px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 2560px) {
  #bloc_page {
    height: 1136px;
  }

  #menu {
    height: 900px;
  }
  #menu .box_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #menu .bloc_menu {
    margin: 11px 20px 0 20px;
    max-width: 30%;
  }
  #menu .box_menu {
    margin-bottom: 30px;
  }
  #menu h2 {
    padding-left: 24px;
    font-size: 30px;
  }
  #menu .titre_menu {
    text-decoration: 3px underline #99e2d0;
    margin-left: 5px;
    font-size: 20px;
  }

  @keyframes valide {
    0% {
      width: 0px;
    }
    100% {
      width: 15%;
    }
  }
}
/* bouton principal*/
.bouton_principal {
  height: 50px;
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(#ff79da, #9356dc);
  border: 0px;
  color: #fff;
  font-size: 19px;
  margin-top: 10px;
}
.bouton_principal:hover {
  opacity: 0.9;
  box-shadow: 1px 3px 4px black;
}

/* bouton commander */
.bouton_commander {
  height: 50px;
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(#ff79da, #9356dc);
  border: 0px;
  color: #fff;
  font-size: 19px;
  margin-top: 30px;
  margin-left: 50%;
  transform: translate(-50%);
  width: 49%;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.637);
}

.bouton_commander:hover {
  opacity: 0.9;
  box-shadow: 1px 3px 4px black;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .bouton_commander {
    height: 50px;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(#ff79da, #9356dc);
    border: 0px;
    color: #fff;
    font-size: 19px;
    margin-top: 30px;
    margin-left: 50%;
    transform: translate(-50%);
    width: 190%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 2560px) {
  .bouton_commander {
    height: 50px;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(#ff79da, #9356dc);
    border: 0px;
    color: #fff;
    font-size: 19px;
    margin-top: 81px;
    margin-left: 50%;
    transform: translate(-50%);
    width: 34%;
  }
}

/*# sourceMappingURL=style2.css.map */
